<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_KnockoutJS::banner"
             title="Banner"
             module="Magenest_KnockoutJS"
             sortOrder="0"
             action="knockout/banner/index"
             parent="Magento_Backend::content_elements"
             resource="Magento_Cms::banner"/>
    </menu>
</config>
