<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Magenest/Theme</item>
            </argument>
        </arguments>
    </type>


<!--    <preference for="Magento\Catalog\Model\Category\DataProvider"-->
<!--                type="Webkul\ProductFileAttribute\Model\Category\DataProvider"/>-->
<!--    <virtualType name="Magenest\Course\Model\ImageUploader" type="Magento\Catalog\Model\ImageUploader">-->
<!--        <arguments>-->
<!--            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/product/course</argument>-->
<!--            <argument name="basePath" xsi:type="string">catalog/product/course</argument>-->
<!--            <argument name="allowedExtensions" xsi:type="array">-->
<!--                <item name="jpg" xsi:type="string">jpg</item>-->
<!--                <item name="jpeg" xsi:type="string">jpeg</item>-->
<!--                <item name="gif" xsi:type="string">gif</item>-->
<!--                <item name="png" xsi:type="string">png</item>-->
<!--                <item name="csv" xsi:type="string">csv</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

<!--    <type name="Magenest\Course\Controller\Adminhtml\Product\CourseFile">-->
<!--        <arguments>-->
<!--            <argument name="imageUploader" xsi:type="object">Magenest\Course\Model\ImageUploader</argument>-->
<!--        </arguments>-->
<!--    </type>-->

</config>
